:root {
  --primary-blue: #166FE5;
}

#body {
  min-height: 250px;
  height: 100vh;
  position: relative;
  background-color: cyan;
}

.header-icons {
  display: flex;
  gap: 16px;
}

.header-icon {
  width: 45px;
  height: 45px;
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.2s;
  filter: brightness(0) invert(1);
}

.header-icon:hover {
  opacity: 0.8;
}

.route-list-container {
  display: flex;
  flex-direction: row;
  gap: 40px; 
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 10px;
}

.route-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto; // Tämä takaa keskityksen riippumatta sisällön määrästä
  margin-bottom: 10px;

  strong {
    margin-bottom: 5px;
  }
}

.route-info {
  display: flex;
  gap: 20px;
  justify-content: center;

  p {
    margin: 0;
  }
}

.timed-alert {
  font-weight: bold;
  display: flex;
  grid-area: header;
  align-items: center;
  justify-content: space-between;
  width: 20%;
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

.image-container {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  gap: 15px;
  align-items: center;
  z-index: 1001; // Ensure icons are above other elements
}

.tools-menu {
  position: absolute;
  background: white;
  border: 1px solid #ccc;
  padding: 5px 0;
  top: 100%;
  right: 0;
  min-width: 120px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}
