.App {

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #5e8a91;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.sidebar.open {
  right: 0;
}
.content.open {
  right: 15vw;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  background-color: rgb(72, 96, 128);
}
.sidebar {
  position: absolute;
  top: 60px;
  right: -30vw;
  height: 100%;
  width: 30vw;
  transition: right 0.5s ease-in-out;
  background-color: rgb(104, 126, 158);
}
.sidebar-toggle {
  position: absolute;
  top: 20%;
  right: 60px;
  height: 60px;
  width: 60px;
  z-index: r;
}
.content {
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  height: 100%;
  transition: left 0.3s ease-in-out;
  background-color: lightgray;
}

.MapAndForm {
  display: flexbox;
  margin: -10px;
}

.MapAndForm > * {
  flex: l;
  margin-right: 10px; /* Adjust spacing between components */
}

.MapAndForm > *:last-child {
  margin-right: 0; /* Remove margin from last child */
}
.first{
  padding: auto;
  margin-right: 100px;
}
.sedond{
  padding: auto;
  margin-top: 0;
  margin-right: -100;
}